<article id="about">
    <h2 class="major">About</h2>
    Pablo Cuevas is a licensed architect at the University of Madrid with more than 6 years of experience carrying out national and international projects.
    His passion for detail and the creative and technical effort in the designs, form the basis of all his projects.<br><br>

    "It is always necessary to seek to expand the vision of customer needs, making it an integral part of the creative process."<br><br>

    "I love new challenges and learning new architecture ways and tools. I am a passionate of design and
    construction looking for new projects and experiences. I believe that hard work, perseverance and dedication is the
    only way to achieve excellence in what you create""<br><br>

    Architect COAM nº1866
</article>