<div class="col-lg-10 col-lg-offset-1 centered">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3500">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            {% for img in page.carousel %}
            <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.index0 }}"
                {% if forloop.index0 == 0 %} class="active" {% endif %}>
            </li>
            {% endfor %}
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            {% for img in page.carousel.first %}
            <div class="item active">
                <img src="{{ "/files/" | prepend: site.baseurl }}{{ img }}" alt="">
            </div>
            {% endfor %}
            {% for img in page.carousel offset:1 %}
            <div class="item">
                <img src="{{ "/files/" | prepend: site.baseurl }}{{ img }}" alt="">
            </div>
            {% endfor %}
        </div>
    </div>
    <!--/Carousel -->
</div>