<!-- Contact -->
<article id="contact">
    <h2 class="major">Contact</h2>
    <form method="POST" data-email="example@email.net"
    action="https://script.google.com/macros/s/AKfycbyQ6o1uxbS5HuLgilyhL8V8aJpQQR0_5P25GpW_IA/exec">
        <div class="field half first">
            <label for="name">Name</label>
            <input type="text" id="name" name="name"/>
        </div>
        <div class="field half">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" value="" required placeholder="your.name@email.com" />
        </div>
        <div class="field">
            <label for="message">Message</label>
            <textarea name="message" id="message" rows="4"></textarea>
        </div>
        <ul class="actions">
            <li>
                <button><i class="fa fa-paper-plane"></i>&nbsp;Send</button>
            </li>
            <li>
                <input type="reset" value="Reset" />
            </li>
        </ul>
        <div class="thankyou_message" style="display:none;">
                <h2><em>Thanks</em> for contacting me!
                  I will get back to you soon</h2>
              </div>
    </form>

    <ul class="icons">
        <li>
            <a href="http://instagram.com/pcharq" class="icon fa-instagram" target="_blank">
                <span class="label">Instagram</span>
            </a>
            &nbsp;
            <b>Follow my work on Instagram!</b>
        </li>
    </ul>

    <script data-cfasync="false" src="{{ " /assets/js/form-submission-handler.js " | prepend: site.baseurl }}"></script>

</article>