<header id="header">
  <div class="logo">
    <span>
      <img class="logo-frame" 
           height="100" 
           width="200"
           src="{{ " /files/frames/logo.png " | prepend: site.baseurl }}" />

    </span>
  </div>
  <div class="content">
    <div class="inner">
      <h1>Pablo Cuevas de la Haba</h1>
      <p>Committed to creativity and design</p>
    </div>
  </div>
  <nav>
    <ul>

      <li><a href="#work">Work</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
</header>