<script src="{{ " /assets/js/jquery.min.js " | prepend: site.baseurl }}"></script>
<script src="{{ " /assets/js/skel.min.js " | prepend: site.baseurl }}"></script>
<script src="{{ " /assets/js/util.js " | prepend: site.baseurl }}"></script>
<script src="{{ " /assets/js/main.js " | prepend: site.baseurl }}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.4/jquery.touchSwipe.min.js"></script>
<script src="{{ " /assets/js/bootstrap.min.js " | prepend: site.baseurl }}"></script> {% if site.analytics %}
<script>
	(function (i, s, o, g, r, a, m) {
	i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
		(i[r].q = i[r].q || []).push(arguments)
	}, i[r].l = 1 * new Date(); a = s.createElement(o),
		m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
	})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

	ga('create', '{{ site.analytics }}', 'auto');
	ga('send', 'pageview');

</script> {% endif %}
<script>
	// Portfolio
	(function ($) {
		"use strict";
		var $container = $('.portfolio'),
			$items = $container.find('.portfolio-item'),
			portfolioLayout = 'fitRows';

		if ($container.hasClass('portfolio-centered')) {
			portfolioLayout = 'masonry';
		}

		function refreshWaypoints() {
			setTimeout(function () {
			}, 1000);
		}

		$('nav.portfolio-filter ul a').on('click', function () {
			var selector = $(this).attr('data-filter');
			$container.isotope({ filter: selector }, refreshWaypoints());
			$('nav.portfolio-filter ul a').removeClass('active');
			$(this).addClass('active');
			return false;
		});

		function getColumnNumber() {
			var winWidth = $(window).width(),
				columnNumber = 1;

			if (winWidth > 1200) {
				columnNumber = 5;
			} else if (winWidth > 950) {
				columnNumber = 4;
			} else if (winWidth > 600) {
				columnNumber = 3;
			} else if (winWidth > 400) {
				columnNumber = 2;
			} else if (winWidth > 250) {
				columnNumber = 1;
			}
			return columnNumber;
		}

		function setColumns() {
			var winWidth = $(window).width(),
				columnNumber = getColumnNumber(),
				itemWidth = Math.floor(winWidth / columnNumber);

			$container.find('.portfolio-item').each(function () {
				$(this).css({
					width: itemWidth + 'px'
				});
			});
		}

		function setPortfolio() {
			setColumns();
					}

		$(window).on('resize', function () {
			setPortfolio();
		});
	})(jQuery);
</script>
<script>
	$(".carousel").swipe({

		swipe: function (event, direction, distance, duration, fingerCount, fingerData) {

			if (direction == 'left') $(this).carousel('next');
			if (direction == 'right') $(this).carousel('prev');

		},
		allowPageScroll: "vertical"

	});
</script>