<!-- Work -->
<article id="work">
    <h2 class="major">Work</h2>

    {% for project in site.portfolio %}

    {% if project.redirect %}
    <div class="project">
        <div class="thumbnail">
            <a href="{{ project.redirect }}" target="_blank">
                {% if project.img %}
                <img class="thumbnail" src="{{ project.img }}" />
                {% else %}
                <div class="thumbnail blankbox"></div>
                {% endif %}
                <span>
                    <img class="thumbnail" src="{{ project.img }}" />
                </span>
            </a>
        </div>
    </div>
    {% else %}

    <div class="project ">
        <div class="thumbnail">
            <a href="{{ site.baseurl }}{{ project.url }}">
                {% if project.img %}
                <img class="thumbnail" src="{{ project.img }}" />
                {% else %}
                <div class="thumbnail blankbox"></div>
                {% endif %}
                <span>
                    <h3>{{ project.title }}</h3>
                    <br />
                    <p>{{ project.description }}</p>
                </span>
            </a>
        </div>
    </div>

    {% endif %}

    {% endfor %}

</article>