---
layout: default
---
<head>
        <link href="{{ " /assets/css/bootstrap.css " | prepend: site.baseurl }}" rel="stylesheet">
</head>
<a href="{{ " /" | prepend: site.baseurl }}"><img height="100" widht="200" src="{{ " /files/frames/logo.png " | prepend: site.baseurl }}"/></a>
<div class="container mt">
    <div class="row">

        {% include carousel.html %}


        <div class="col-lg-4 col-lg-offset-1">
            <br><br>
            <div class="spacing"></div>
            <h4>Project Details</h4>
            <div class="hline"></div>
            <p><b>Category:</b> {{ page.category }}</p>
            <p><b>Location:</b> {{ page.location }}</p>
            <p><b>Size:</b> {{ page.size }}</p>
        </div>
        <div class="col-lg-5 col-lg-offset-1">
            <br><br>
                <div class="spacing"></div>
    
                {{ content }}
    
            </div>
    </div>
</div>